body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h3 {
    margin: auto;
}

#top-title {
    margin: auto;
    padding: 2dvb;
    text-align: center;
    color: white;
    background-color: #33B667;
}

.painel {
    margin: 0 20%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu {
    display: flex;
    margin: 5% 0 10% 0;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}

#games-container {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    gap: 20px;
}

.round {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.game {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex: 1;
    padding: 10px;
}

.icon-button {
    background-color: #33B667;
    color: white;
    border-radius:  5px;
    border-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

.shield {
    margin: auto;
} 
